#language-box {
	display: flex;
	justify-content: center;
}

.header {
	background-color: #eeeeee;
	padding: 20px;
}

.title {
	font-size: 50px;
	font-weight: bold;
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
		float: none;
	}

	.navbar .navbar-collapse {
		text-align: center;
	}
	
	.navbar-nav>li {
		display: inline-block;
		float: none;
		margin: 0;
		vertical-align: middle;
	}
}

.flag {
	margin-right: 10px;
}

.container {
	width: 100%;
	margin: 0;
	padding: 0;
}

.individual-page {
    max-width: 768px;
    margin: auto;
    padding: 0 15px;
}

.screen-home {
	text-align: center;
}