#language-box {
	display: flex;
	justify-content: center;
}

.header {
	background-color: #eeeeee;
	padding: 20px;
}

.title {
	font-size: 50px;
	font-weight: bold;
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
		float: none;
	}

	.navbar .navbar-collapse {
		text-align: center;
	}
	
	.navbar-nav>li {
		display: inline-block;
		float: none;
		margin: 0;
		vertical-align: middle;
	}
}

.flag {
	margin-right: 10px;
}

.container {
	width: 100%;
	margin: 0;
	padding: 0;
}

.individual-page {
    max-width: 768px;
    margin: auto;
    padding: 0 15px;
}

.individual-page-big {
    max-width: 1440px;
    margin: auto;
    padding: 0 15px;
}

@media (min-width: 768px) {
	.individual-section {
		padding: 10px;
	}
}

.individual-section {
	padding: 10px;
}

.screen-home {
	text-align: center;
}

.common-label {
	text-align: left;
	padding: 5px;
	margin: 5px 0;
	white-space: nowrap;
}

.common-text-bar {
	text-align: left;
	padding: 5px;
	margin: 5px 0;
}

.common-dice {
	height: 33px;
	padding: 5px;
}

.dice-roll-button {
	height: 33px;
	float: left;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	border-radius: 0;
	background-color: #DDDDDD;
}

.dice-roll-button:active {
	background-color: #CCCCCC;
}

.dice-d10 {
	border: 1px solid blue;
	border-radius: 5px;
	width: 33px;
	height: 33px;
	line-height: 33px;
	text-align: center;
	font-weight: bold;
	color: blue;
	margin-left: 10px;
	display: none;
	float: left;
}

.dice-display {
	display: block;
}