.page-container > .header {
  color: white;
  text-shadow: 2px 2px black;
  height: 135px;
  padding: 40px 0;
  background-image: url("assets/banner.jpg");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navigation {
  margin: 0;
  background-color: #eeeeee;
  padding: 8px 16px;
}

.menu-bar {
  text-align: left;
}

.menu-dropdown {
  margin-right: 20px;
}

.menu-item {
  cursor: pointer;
}

.language-bar {
  text-align: right;
}

.language-bar > span {
  line-height: 38px;
  margin-left: 12px;
  cursor: pointer;
  transition: 0.3s linear color;
}

.language-bar > span:hover {
  color: blue;
  text-decoration: underline;
}

.hw-canvas-container {
  margin: 0 15px;
  background-color: black;
}

.hw-canvas {
  display: block;
  margin: 0 auto;
}
