.page-container > .header {
  color: white;
  text-shadow: 2px 2px black;
  height: 135px;
  padding: 40px 0;
  background-image: url("assets/banner.jpg");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hw-mode-bar{
  background-color: black;
  border-bottom: 1px solid grey;
  color: white;
  padding: 8px;
}

.hw-game {
  position: relative;
}

.hw-canvas-container {
  background-color: black;
  display: flex;
  justify-content: center;
}

.hw-canvas {
  background-color: #222;
}

.selection-container {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.selection-bar {
  margin-top: 24px;
  display: flex;
}

.selection-bar > * {
  cursor: pointer;
  transition: filter 0.1s linear;
}

.selection-bar > *:not(:last-child) {
  margin-right: 12px;
}

.selection-bar > *:not(:first-child) {
  margin-left: 12px;
}

.selection-bar > *:hover {
  filter: brightness(150%);
}

.mode-selection-button {
  font-size: 24px;
  margin-top: 24px;
  border-radius: 20px;
  padding: 16px 24px;
  border: 1px solid grey;
  cursor: pointer;
  transition: background-color 0.1s linear;
}

.back-button {
  cursor: pointer;
  margin-top: 24px;
  transition: color 0.1s linear;
}

.back-button:hover {
  color: lightseagreen;
}

.mode-selection-button:hover {
  background-color: #333;
}

.mechanic-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.debuff-selection-button {
  width: 64px;
}